# Data and Parquets (DO NOT COMMIT)
data/raw/
data/processed/
*.parquet
*.csv
*.db

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# OPSEC: Obfuscate Proprietary Backend
src/
*.py
requirements.txt